.container {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #F5A9A9;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}